---
layout: default
permalink: "people"
---

{% assign people_by_position = site.data.people | group_by: "position" %}
{% for position in people_by_position %}
  {% for person in position.items %}
    <div class="person-separator small-bottom-margin"></div>
    {% if person.img %}
      <img class="person-img" src="{{ "/img/people/" | append: person.img | relative_url}}" />
      <h3>{{ person.title}} {{ person.name }}</h3>
    {% else %}
      <h3>{{ person.title}} {{ person.name }}</h3>
    {% endif %}
    <p>
    {% assign group = site.data.groups | where: "name",  person.group %}
    {% if group.size == 1   %}
      <a href=" {{ "/groups/" | append: group[0].name | relative_url }}">{{ group[0].label }}</a><br />
    {% endif %}
    {% if person.position == "head" %}
      Head of Research Group <br/>
    {% elsif person.position == "jrg-head" %}
      {% assign jrg = site.data.groups | where: "name", person.jrg %}
      Head of Junior Research Group <a href="/groups/{{ jrg[0].name }}">{{ jrg[0].label }}</a><br />
    {% endif %}
    {{ person.mail }} <br />
    <!--
    {% if person.phone %}
      Phone: +{{ person.phone }} <br />
    {% endif %}
    {% if person.interests.size > 0 %}
      Interests: {{ person.interests | array_to_sentence_string }}
    {% endif %}
    -->
    </p>
  {% endfor %}
{% endfor %}
