---
layout: default
permalink: "people"
nav_active: people
---

{% assign people = '' | split: '' %}
{% for group in site.data.groups %}
  {% assign to_add = site.data.people[group.name] | where_exp: "item", "item.roles[0] != 'head'" %}
  {% assign people = people | concat: to_add %}
{% endfor %}
{% assign people = people | unique(attribute="name") | list %}

{% for group in site.data.groups %}
  {% if group.type == 'rg' %}
    {% assign person = site.data.people[group.name] | find_exp: "item", "item.roles[0] == 'head'" %}
    <div class="person-separator small-bottom-margin"></div>
    {% if person.img %}
      <img class="person-img" src="{{ "/img/people/" | append: person.img | relative_url}}" alt="Photo of {{ person.name }}" />
    {% endif %}
    <h3>{{ person.title}} {{ person.name }}</h3>
    <p>
    {% if group.url %}
      <a href="{{group.url}}">{{ group.label }}</a><br />
    {% else %}
      <a href=" {{ "/groups/" | append: group.name | relative_url }}">{{ group.label }}</a><br />
    {% endif %}
    Head of Research Group <br/>
    {% if person.mail %}
    {% if person.mail.first %}
      {% for m in person.mail %}
        <a href="mailto:{{ m }}">{{ m }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      <br />
    {% else %}
      <a href="mailto:{{ person.mail }}">{{ person.mail }}</a><br />
    {% endif %}
    {% endif %}
    </p>
  {% endif %}
{% endfor %}

{% for group in site.data.groups %}
  {% if group.type == 'jrg' %}
    {% assign parent_group = site.data.groups | find: "name", group.group %}
    {{ site.data.groups[group.group] }}
    {% assign person = site.data.people[group.name] | find_exp: "item", "item.roles[0] == 'head'" %}
    <div class="person-separator small-bottom-margin"></div>
    {% if person.img %}
      <img class="person-img" src="{{ "/img/people/" | append: person.img | relative_url}}" alt="Photo of {{ person.name }}" />
    {% endif %}
    <h3>{{ person.title}} {{ person.name }}</h3>
    <p>
    {% if parent_group %}
      {% if group.url %}
       <a href="{{parent_group.url}}">{{ parent_group.label }}</a><br />
      {% else %}
        <a href=" {{ "/groups/" | append: parent_group.name | relative_url }}">{{ parent_group.label }}</a><br />
      {% endif %}
    {% endif %}
    Head of Junior Research Group  {% if group.url %} <a href="{{group.url}}">{{ group.label }}</a><br /> {% else %} <a href=" {{ "/groups/" | append: group.name | relative_url }}">{{ group.label }}</a><br /> {% endif %}
    {% if person.mail %}
    {% if person.mail.first %}
      {% for m in person.mail %}
        <a href="mailto:{{ m }}">{{ m }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      <br />
    {% else %}
      <a href="mailto:{{ person.mail }}">{{ person.mail }}</a><br />
    {% endif %}
    {% endif %}
    </p>
  {% endif %}
{% endfor %}


{% assign people_by_position = people | group_by_exp: "item", "item.roles | first" %}
{% for position in people_by_position %}
  {% assign sorted = position.items | group_by: "name" | sort_natural %}
  {% for p in sorted %}
    {% assign person = p.items | first %}
    <div class="person-separator small-bottom-margin"></div>
    {% if person.img %}
      <img class="person-img" src="{{ "/img/people/" | append: person.img | relative_url}}" alt="Photo of {{ person.name }}" />
    {% endif %}
    <h3>{{ person.title}} {{ person.name }}</h3>
    <p>
    <!---->
    {% for group in site.data.groups %}
      {% for p in site.data.people[group.name] %}
        {% if person.name == p.name %} 
          {% if group.type == 'jrg' %}
            {% assign parent_group = site.data.groups | find: "name", group.group %}   
            {% if parent_group %}
              {% if group.url %}
                <a href="{{parent_group.url}}">{{ parent_group.label }}</a><br />
              {% else %}
                <a href=" {{ "/groups/" | append: parent_group.name | relative_url }}">{{ parent_group.label }}</a><br />
              {% endif %}
            {% endif %}
            Junior Research Group 
          {% endif %}
          {% if group.url %}
            <a href="{{group.url}}">{{ group.label }}</a><br />
          {% else %}
            <a href=" {{ "/groups/" | append: group.name | relative_url }}">{{ group.label }}</a><br />
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if person.mail %}
    {% if person.mail.first %}
      {% for m in person.mail %}
        <a href="mailto:{{ m }}">{{ m }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      <br />
    {% else %}
      <a href="mailto:{{ person.mail }}">{{ person.mail }}</a><br />
    {% endif %}
    {% endif %}
    <br />
    <!--
    {% if person.phone %}
      Phone: +{{ person.phone }} <br />
    {% endif %}
    {% if person.interests.size > 0 %}
      Interests: {{ person.interests | array_to_sentence_string }}
    {% endif %}
    -->
    </p>
  {% endfor %}
{% endfor %}

