{% assign group = site.data.groups | find: "name", page.group %}
{% assign team_rg = site.data.people[page.group] %}
{% assign jrg_group = site.data.groups | find_exp: "item", "item.group == page.group" %}
{% if jrg_group.name %}
  {% assign team_jrg = site.data.people[jrg_group.name] %}
{% else %}
  {% assign team_jrg = '' | split: '' %}
{% endif %}
{% assign all = team_rg | concat: team_jrg %}
{% assign team = all | group_by_exp: "item", "item.roles | first" %}


{% for role in team %}
  {% case role.name %}
    {% when "tech" %}
      <h3>Tech</h3>
    {% when "postdoc" %}
      <h3>Researchers</h3>
    {% when "phd" %}
      <h3>Research Assistants</h3>
    {% when "shk" %}
      <h3>Student Assistants</h3>
  {% endcase %}

  {% for person in role.items %}
    {% if jrg_group.name %}
      {% assign jrg = team_jrg | find: "name", person.name %}
    {% endif %}
    {% if role.name == "head" %}
      {% if jrg %}
        <h3>Head of Junior Research Group</h3>
      {% elsif group.type == "jrg" %}
        <h3 id="head">Head of Junior Research Group</h3>
      {% else %}
        <h3 id="head">Head of Research Group</h3>
      {% endif %}
    {% elsif role.name == "admin" %}
      <h3 id="admin">Administration</h3>
    {% endif %}
    {% if person.img %}
      <img class="person-img" src="{{ "/img/people/" | append: person.img | relative_url}}" alt="Photo of {{ person.name }}" />
    {% endif %}
    <h3>{{ person.title}} {{ person.name }}{% if role.name == "phd" %}, Ph.D. Candidate{% endif %}{% if person.position-special %}, {{ person.position-special }}{% endif %}</h3>
    <p>
        {% if person.mail %}
          {% if person.mail.first %}
            {% for m in person.mail %}
              <a href="mailto:{{ m }}">{{ m }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            <br />
          {% else %}
            <a href="mailto:{{ person.mail }}">{{ person.mail }}</a><br />
          {% endif %}
        {% endif %}
        {% if person.phone %}
          Phone: +{{ person.phone }} <br />
        {% endif %}
        {% if person.interests.size > 0 %}
          Interests: {{ person.interests | array_to_sentence_string }}
        {% endif %}
        {% if jrg %}
          <br />Junior Research Group <a href="{{ jrg_group.name | prepend: "/groups/" | relative_url }}">{{ jrg_group.label }}</a>
        {% endif %}
    </p>
    <div class="clear small-bottom-margin"></div>
  {% endfor %}
{% endfor %}