{% assign team_rg = site.data.people[page.group] %}
{% assign jrg_group = site.data.groups | find_exp: "item", "item.group == page.group" %}
{% if jrg_group.name %}
  {% assign team_jrg = site.data.people[jrg_group.name] %}
{% else %}
  {% assign team_jrg = '' | split: '' %}
{% endif %}
{% assign all = team_rg | concat: team_jrg %}
{% assign team = all | group_by_exp: "item", "item.roles | first" %}

{% for role in team %}
  {% for person in role.items %}
    {% if jrg_group.name %}
      {% assign jrg = team_jrg | find: "name", person.name %}
    {% endif %}
    {% if head.name == person.name %}
      <h3 id="head">
    {% elsif role.name == "admin" %}
      <h3 id="admin">
    {% else %}
      <h3>
    {% endif %}
        {% case role.name %}
          {% when "head" %}
            {% if jrg || site.data.groups[page.group].type == "jrg" %}
              Head of Junior Research Group
            {% else %}
              Head of Research Group
            {% endif %}
          {% when "admin" %}
            Administration
          {% when "tech" %}
            {% if person.position-special %}
              {{ person.position-special }}
            {% else %}
              Tech
            {% endif %}
          {% when "postdoc" %}
            Researcher
          {% when "phd" %}
            Research Assistant
          {% when "shk" %}
            Student Assistant
        {% endcase %}
    </h3>
    {% if person.img %}
      <img class="person-img" src="{{ "/img/people/" | append: person.img | relative_url}}" alt="Photo of {{ person.name }}" />
    {% endif %}
    <h3>{{ person.title}} {{ person.name }}{% if role.name == "phd" %}, Ph.D. Candidate{% endif %}</h3>
    <p>
        {{ person.mail }} <br />
        {% if person.phone %}
          Phone: +{{ person.phone }} <br />
        {% endif %}
        {% if person.interests.size > 0 %}
          Interests: {{ person.interests | array_to_sentence_string }}
        {% endif %}
        {% if jrg %}
          <br />Junior Research Group <a href="/groups/{{ jrg_group.name }}">{{ jrg_group.label }}</a>
        {% endif %}
        {% if person.roles contains "board" %}
          <br /><a href="{{ "/institute" | relative_url }}">Board Member</a>
        {% endif %}
    </p>
    <div class="clear small-bottom-margin"></div>
  {% endfor %}
{% endfor %}