---
---

{% if entry.author %}
  {% assign author_list = entry.author | split: " and " %}
{% else %}
  {% assign author_list = entry.editor | split: " and " %}
{% endif %}


{% assign authors = '' | split: '' %}
{% for author in author_list %}
  {% assign tmp = author | split: "," | reverse | join " " %}
  {% assign authors = authors | push: tmp %}
{% endfor %}
{{ authors | array_to_sentence_string }}.

<i>{{ entry.title }}.</i>

{% if entry.booktitle %}
  {{ entry.booktitle }}.
  {% assign venue = entry.booktitle %}
{% elsif entry.journal %}
  {{ entry.journal }}.
  {% assign venue = entry.journal %}
{% elsif entry.school %}
  {{ entry.school }}.
  {% assign venue = entry.school %}
{% elsif entry.institution %}
  {{ entry.institution }}.
  {% assign venue = entry.institution %}
{% endif %}

{{ entry.year }}.
{% if entry.publisher %}
  {{ entry.publisher }}.
{% endif %}

{% if entry.doi %}
  <a href="https://doi.org/{{ entry.doi }}">[doi]</a>
{% endif %}
{% if entry.url %}
<a href="{{ entry.url }}">[url]</a>
{% endif %}
{% if links.pdf %}
<a href="{{ links.pdf }}">[pdf]</a>.
{% endif %}

<details>
  <summary class="pointer">BibTeX</summary>

  <pre>{{ entry.bibtex }}</pre>
</details>

<input type="hidden" value="{{ authors | array_to_sentence_string | escape }} {{ entry.title | escape }} {{ venue | escape }} {{ entry.year }}" />
