---
layout: default
---

{% assign group_obj = site.data.groups | where: "name", page.group %}
{% assign group = group_obj[0] %}
{% assign heads = site.data.people | where: "position", "head" %}
{% assign jrg-heads = site.data.people | where: "position", "jrg-head" %}
{% for h in heads %}
  {% if h.group == page.group %}
    {% assign head = h %}
  {% endif %}
{% endfor %}
{% for h in jrg-heads %}
  {% if h.jrg == page.group %}
    {% assign head = h %}
    {% assign jrg = true %}
  {% endif %}
{% endfor %}
<h1 class="small-bottom-margin">
{% if jrg %}
  Junior Research Group 
{% endif %}
{{ group.label | escape }}</h1>
<h2><a href="#head">{{ head.title }} {{ head.name }}</a></h2>
{{ content }}

<h2><a href="{{ "/publications#" | append: head.name | relative_url }}">Publications</a></h2>
<!-- {% bibliography --max 5 --group_by none --file mcmi.bib %} -->
<h2>Contact</h2>
{%- include contact.html -%}
<h2>Team</h2>
{%- include team.html -%}
